.flex-row {
  display: flex;
  flex-direction: column;

  @mixin atMedium {
    flex-direction: row;
    flex-wrap: wrap;

    &__m4 {
      width: 33.33%;
    }

    &--divider > div {
      &:not(:last-of-type) {
        border-right: 1px solid;
      }
    }
  }
}
