.line-vertical-right {
  position: relative;

  &::after {
    content: '';
    display: block;
    background-color: #f7f7f7;
    height: 3rem;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
