.logos {

  &__list {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 20%;
    @mixin heading;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .375rem;

    @mixin atMedium {
      padding: 1rem;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }
}
