.bs-home {

  &-about {
    background-color: #f7f7f7;

    &__wrapper {
      border-top: 1px solid;
      display: flex;
    }

    &__item {
      flex: 0 0 33.33%;
    }

    &__text {
      background-color: #fff;
      font-size: .875rem;
      border-radius: 1px;
      border: 1px solid black;

      @mixin atMedium {
        border: 0;
      }

      &-inner {
        padding: 1rem;

        @mixin atLarge {
          padding: 1rem 2rem;;
        }
      }
    }
  }

  &-incoming {
    background-color: $color-black;

    * {
      color: #f7f7f7;
    }
  }
}
